@tailwind base;
@tailwind components;
@tailwind utilities;

.image-gradient {
  background-image: linear-gradient(270deg, #302f39, #223240 95%);
}

.hero-gradient {
  background-image: linear-gradient(90deg, #302f39, #223240);
}

@font-face {
  font-family: Fraunces72ptSuperSoft-Regular;
  src: url("https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa3e67408a53de7b6670_Fraunces72ptSuperSoft-Regular.otf");
}

@font-face {
  font-family: Fraunces72ptSuperSoft-Italic;
  src: url("https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa3e240cf712017a74b1_Fraunces72ptSuperSoft-Italic.otf");
}

@font-face {
  font-family: Fraunces72ptSuperSoft-Bold;
  src: url("https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa3e1a73962ed32341b8_Fraunces72ptSuperSoft-Bold.otf");
}

@font-face {
  font-family: Fraunces72ptSuperSoft-BoldItalic;
  src: url("https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa3e2ef6200b430e6c78_Fraunces72ptSuperSoft-BoldItalic.otf");
}

@font-face {
  font-family: Fraunces72ptSuperSoft-SemiBold;
  src: url("https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa3ee6bcfd51ec14bc52_Fraunces72ptSuperSoft-SemiBold.otf");
}

@font-face {
  font-family: Fraunces144ptSuperSoft-Black;
  src: url("https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa3fe92de96eebc79511_Fraunces144ptSuperSoft-Black.otf");
}

@font-face {
  font-family: Fraunces144ptSuperSoft-Regular;
  src: url("https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/604faa404711e99fbe27cdfa_Fraunces144ptSuperSoft-Regular.otf");
}
@font-face {
  font-family: Geomanist-Regular;
  src: url("https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/5f8764ef5e2158274613afb4_Geomanist-Regular.otf");
}

@font-face {
  font-family: Geomanist-Bold;
  src: url("https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/5f8764efb1c5850618211b4d_Geomanist-Bold.otf");
}

.complex-background {
  background-image: url("https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/61bbc96064c698bc567db060_noise10.webp"),
    linear-gradient(180deg, rgba(213, 173, 143, 0.3), rgba(213, 173, 143, 0.3)),
    url("https://assets.website-files.com/5b60dd35a56ec7bab0703d2d/607077c4d94a9d833a9cd183_stacked-waves-haikei.svg");
  background-position: 0 0, 0 0, 0 0;
  background-size: 50px, auto, cover;
}
